/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700'); */

/* Fontawesome */
/* @import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css'); */

/* Custom design below! */
/* @import url("pages/metro.css"); */


body {
    background-color: #ffffff;
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Bungee', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Secular One', sans-serif; */
    /* font-family: 'Varela Round', sans-serif;  */
  }

  a {
    text-decoration: none;
  }


  h3 {
    font-size: 14pt;
  }


.tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.tags-container ul li {
  list-style: none;
  display: inline;
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
  line-height: 2em;
}

#tags {
  /* centers */
  margin: 12 auto 12;
}


/* View categories */
.active {
  font-weight: bold;
  color: orange;
}

/* HOME PAGE */

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.projects-container {
  /* Overrides body */
  background-color: #ffffff;
}

.grid {
  display: flex;

}

.grid-col {
    flex: 1;
}

.grid-col--2, .grid-col--3 {
    display: inline;
}

.grid-item {
  position: relative;
  margin: 1.2em;
}

img {
  width: 100%;
  margin-bottom: 1.2em;
}

.white-image {
  border: 0px solid rgb(122, 116, 116);
}

.image-text {
  position: absolute;
  color: rgb(31, 31, 31);
  /* overflow-wrap: break-word;
  word-wrap: break-word; */
  hyphens: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.image-text h2 {
  font-size: 32pt;
  }

.image-text p {
  font-size: 18pt;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}

.grid-item:hover img{
  opacity: 0.3;
  transition-duration: 1.2s;
  cursor: pointer;
  }

.grid-item:hover .image-text{
  opacity: 1;
  transition-duration: 1.2s;
  cursor: pointer;
  }

/* Tablet layout */
@media (max-width: 1080px) {
.grid-col--3 { display: none; }
.container { width: 80%; }
.image-text { font-size: 1.8em; }
}

/* Mobile layout */
@media (max-width: 768px) {
  body { margin: 0; }
  .container { width: 100%; }
  .grid-col--2, .grid-col--3 { display: none; }
  .grid-item { margin: 0; }
  .grid-item:hover { cursor: pointer; }
  img { margin-bottom: 0em; }
  .image-text { font-size: 3.5em; }
}








/* .splide__slide img {
  width: auto;
  height: 200px;
} */





/* CSS for individual project pages: */


/* .project-container {
  width: 100%;
  margin: 0 auto;
} */

.carousel {
  /* height: 100%; */
  /* margin-bottom: 20px; */
  height: auto;

}

.gallery {
  /* background: #EEE; */
    /* height: 100%; */
  margin-bottom: 40px;
  background-color: none;
  /* height:auto; */
}



.gallery-cell {
  /* width: 100%;
  height: 100%; */

  /* margin-right: 10px; */
  /* background: #8C8; */

  /* horizontal centering */
  text-align: center;

  /* margin-bottom: 12px; */
  margin-top: 16px;

  /* top: 10px;
  bottom: 10px; */




}

.portrait img {
  height: 65%;
  width: 65%;
}

.landscape img {
    height: 100%;
    width: 100%;
}
.about-photo {
  margin: 40px;
  text-align: center;
}

.medium img {
  width: auto;
  height: 30em;
}
.about-description {
  margin: 40px;

}

/* cell number */
/* .gallery-cell:before { */
 /* display: block;
  text-align: center; */
  /* content: counter(gallery-cell); */
  /* line-height: 200px; */
  /* font-size: 80px; */
  /* color: white; */
/* } */

.project-description h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

      /* h1,
      h2 {
        color: rgba(86, 61, 124, .3);
        margin-bottom: 25px;
      } */

/* .card {
  padding: 50px;
  margin-bottom: 10px;
  font-size: 5rem;
} */
