
body {
    background-color: #FFFFFF;
    font-family: 'Roboto Slab', serif;
    /* line-height: 24px; */
    padding-top: 100px;
  }

  a {
    text-decoration: none;
    /* color: rgb(254, 251, 243); */
  }






  .navigation {
    background-color: rgb(121, 180, 183);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* display: inline;
    flex-flow: row; */
  }
@media (max-width: 650px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
}


ul#features {
  float: right;
}

.navigation ul {
  font-size: 24px;
  display: flex;
  /* padding: 20px 32px 20px 32px; */
  /* margin: 0px auto 20px auto; */
  text-align: center;
  /* height: 50px; */
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  /* padding: 3px 10px 4px 10px; */
  margin: auto 36px auto 36px;
  text-decoration: none;
  /* color: white; */
  border-radius: 12px;
  transition-duration: 0.5s;
}


ul#name {
  float: left;
}
ul#name li a{
  color: red;
}












.projects-container ul {

  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.projects-container ul li {
  /* background-color: blue; */
  height: 40vh;
  flex-grow: 1;



}

/* .projects-container ul li:last-child {
  flex-grow: 10;
} */

img {
  max-height: 100%;
  min-width: 100%;
  /* margin: 20px;
  padding: 20px; */
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  /* flex-grow: 1; */
  object-fit: cover;
  vertical-align: bottom;
  }

  img:hover {
    opacity: 0.6;
  }

  /* button {
    border: none;
    font-size: 16;
    font-weight: bold;
    height: 36px;
    border-radius: 4px;
    background-color: rgb(121, 180, 183);
  } */






/* .navigation ul li a:hover {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  height: 20px;
} */

/* .navigation a.active {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  height: 20px;
} */


/*
  h1 {
    color:rgb(254, 251, 243);
    line-height: 36px;
    text-align: left;
    margin-left: 24px;
  } */

  .card {
    width: 600px;
    height: 300px;
    /* Centering */
    margin: 30px auto 30px auto;
    background-color: rgb(248, 240, 223);
    padding: 10px 20px 10px 20px;
    /* box shadow syntax:  offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 0.2);
  }

  .footer {
    width: 600px;
    margin: 30px auto 30px auto;
    background-color: rgb(248, 240, 223);
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 0px 10px 10px rgba(0 0 0 / 0.2);
    text-align: center;
  }







  /* iphone */
  @media (max-width: 350px) {
      .container {
        display: flex;
        justify-content: space-evenly;
        flex-flow: column;
      }
      .card {
        display: flex;
        justify-content: space-evenly;
        flex-flow: column;
      }
    }
