
body {
    background-color: #FFFFFF;
    padding-top: 100px;

    /* font-family: 'Architects Daughter', cursive;
    font-family: 'Bungee', cursive;
    font-family: 'Indie Flower', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Varela Round', sans-serif; */
  }

  a {
    text-decoration: none;
  }




  .navigation {
    background-color: rgb(121, 180, 183);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
@media (max-width: 650px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
}

.navigation ul {
  font-size: 24px;
  display: flex;
  text-align: center;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  margin: auto 36px auto 36px;
  text-decoration: none;
  /* border-radius: 12px; */
  /* transition-duration: 0.5s; */
}

.navigation ul#name {
  float: left;
}
.navigation ul#name li a{
  color: white;
  font-weight: bold;
}

.navigation ul#features {
  float: right;
}
.navigation ul#features li a{
  color: white;
  font-weight: bold;
}






.container {
    width: 95%;
    margin: 0 auto;
}


.grid {
    display: flex;
}

.grid-col {
    flex: 1;
    /* margin: 0.5em; */
    /* margin-left: .5em;
    margin-right: .5em; */
}

.grid-col--2, .grid-col--3 {
    display: inline;
}



.grid-item {
  /* transition-duration: 2s;
  transition-property: display; */
  position: relative;
  /* overflow-wrap: break-word; */
  margin: 1.2em;

  /* overflow: hidden; */
}

img {
  width: 100%;
  /* margin: 6px; */
  margin-bottom: 1.2em;
}

.white-image {
  border: 2px solid rgb(122, 116, 116);
}


.image-text {
  position: absolute;
  /* background-color: black; */
  font-size: 32px;
  color: rgb(31, 31, 31);
  /* background-color: hsla(0, 20%, 28%, 0.9); */
  /* overflow-wrap: break-word;
  word-wrap: break-word; */
  /* inline-size: 300px; */
  hyphens: none;


  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}

.grid-item img {
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
}

.grid-item:hover img{
    opacity: 0.3;
    transition-duration: 1.2s;
    cursor: pointer;
  }

.grid-item:hover .image-text{
    opacity: 1;
    transition-duration: 1.2s;
    cursor: pointer;
  }







/* Tablet layout */
@media (max-width: 1080px) {
    .grid-col--3 { display: none; }
    .container {
        width: 80%;
    }
    img {
      margin-bottom: 1.2em;
    }
}




/* Mobile layout */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .grid-col--2, .grid-col--3 { display: none; }
    .grid-col {
        /* padding: 0 .5em; */
    }
    .grid-item:hover {
        cursor: pointer;
    }

    img {
      margin-bottom: 1.2em;
    }
}
